<%= form_with(model: credit_card, class: "contents flex") do |form| %>
  <% if credit_card.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>

      <ul>
        <% credit_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :card_image %>

    <div data-controller="slideshow">
      <%= form.fields_for :credit_card_image do |f| %>
        <% CardImage.order(Arel.sql("id = #{credit_card&.card_image&.id.nil? ? CardImage.blank_card.id : credit_card.card_image.id} desc")).all.each_with_index do |card_image, index| %>
          <% if index % 9 == 0 %>
            <div data-slideshow-target="slide"><ul class="flex flex-wrap gap-3">
          <% end %>

            <li class="relative">
              <%= f.radio_button :card_image_id, card_image.id, class: 'sr-only peer', id: card_image.id %>
              
              <%= heroicon "check-circle", variant: :solid, options: { class: "absolute top-2 right-2 z-50 peer-checked:opacity-100 opacity-0 text-green-400 h-7 my-auto" } %>

              <label class="flex relative bg-white cursor-pointer focus:outline-none rounded-md hover:bg-gray-50 peer-checked:ring-gray-300 peer-checked:ring-6 peer-checked:border-transparent" for='<%= card_image.id %>'>
                <%= image_tag card_image.image, class: 'rounded-md max-w-3xs' %>
              </label>
            </li>

          <% if index % 9 == 8 %>
            </ul></div>
          <% end %>
        <% end %>
      <% end %>
    
      <div class="flex mt-5">
        <button class="p-2 hover:bg-gray-200 rounded mr-auto my-auto cursor-pointer" data-action="slideshow#previous">
          <%= heroicon "chevron-left", 
            variant: :outline, 
            options: { class: "text-gray-700 h-4 my-auto" } %>
        </button>
              
        <button class="p-2 hover:bg-gray-200 rounded ml-auto my-auto cursor-pointer" data-action="slideshow#next">
          <%= heroicon "chevron-right", 
            variant: :outline, 
            options: { class: "cursor-pointer text-gray-700 h-4 my-auto" } %>
        </button>
      </div>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
