<%= form_with(model: card_image, class: "contents") do |form| %>
  <% if card_image.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(card_image.errors.count, "error") %> prohibited this card_image from being saved:</h2>

      <ul>
        <% card_image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  
  <% if current_page?(action: :new) %>
    <div class="my-5">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>
  <% else %>
    <%= render card_image %>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
