<div data-controller="slideshow">
  <%= form.fields_for :credit_card_image do |f| %>
    <% card_images.each_with_index do |card_image, index| %>
      <% if index % 9 == 0 %>
        <div data-slideshow-target="slide"><ul class="flex flex-wrap gap-3">
      <% end %>

        <li class="relative">
          <%= f.radio_button :card_image_id, card_image.id, class: 'sr-only peer', id: card_image.id %>
          
          <%= heroicon "check-circle", variant: :solid, options: { class: "absolute top-2 right-2 z-50 peer-checked:opacity-100 opacity-0 text-green-400 h-7 my-auto" } %>

          <label class="flex relative bg-white cursor-pointer focus:outline-none rounded-md hover:bg-gray-50 peer-checked:ring-gray-300 peer-checked:ring-6 peer-checked:border-transparent" for='<%= card_image.id %>'>
            <%= image_tag card_image.image, class: 'rounded-md max-w-3xs' %>
          </label>
        </li>

      <% if index % 9 == 8 %>
        </ul></div>
      <% end %>
    <% end %>
  <% end %>

  <% if card_images.count > 12 %>
    <div class="flex mt-5">
      <a class="p-2 hover:bg-gray-200 rounded mr-auto my-auto cursor-pointer" data-action="slideshow#previous">
        <%= heroicon "chevron-left", 
          variant: :outline, 
          options: { class: "text-gray-700 h-4 my-auto" } %>
      </a>
            
      <a class="p-2 hover:bg-gray-200 rounded ml-auto my-auto cursor-pointer" data-action="slideshow#next">
        <%= heroicon "chevron-right", 
          variant: :outline, 
          options: { class: "cursor-pointer text-gray-700 h-4 my-auto" } %>
      </a>
    </div>
  <% end %>
</div>