<%= link_to edit_category_path(category) do %>
  <div id="<%= dom_id category %>" class="flex p-2 hover:bg-gray-200 peer-hover:bg-gray-200">
    <div class="flex space-x-2 items-center">
      <% if category.icon.present? %>
        <%= image_tag category.icon, class: 'w-8 rounded' %>
      <% else %>
        <div class="bg-blue-300 w-8 h-full rounded text-center">?</div>
      <% end %>

      <div class="flex flex-col">
        <p class="text-lg leading-4"><%= category.name %></p>
      </div>
    </div>

    <div class="ml-auto flex text-right space-x-2">
      <%= heroicon "chevron-right", variant: :outline, options: { class: "text-gray-700 h-4 my-auto" } %>
    </div>
  </div>
<% end %>