<div class="mx-auto max-w-lg w-full">
  <%= render 'layouts/notice' %>
  
  <h1 class="font-bold text-4xl">Import transactions</h1>

  <%= form_with(url: import_transactions_path, method: :post, class: 'flex flex-col space-y-5') do |form| %>
    <%= form.file_field :attachment, required: true %>

    <div>
      <%= form.label :transaction_date %>
      <%= form.number_field :transaction_date, required: true %>
    </div>

    <div>
      <%= form.label :credit_card %>
      <%= form.number_field :credit_card, required: true %>
    </div>

    <div>
      <%= form.label :category %>
      <%= form.number_field :category, required: true %>
    </div>

    <div>
      <%= form.label :amount %>
      <%= form.number_field :amount, required: true %>
    </div>

    <div>
      <%= form.label :memo %>
      <%= form.number_field :memo, required: true %>
    </div>

    <%= form.submit %>
  <% end %>
</div>
