<!DOCTYPE html>
<html>
  <head>
    <title>Star Points</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="relative">
    <main class="max-w-lg lg:max-w-2xl h-screen justify-between mx-auto px-5 flex flex-col">
      <% unless controller_name == 'sessions' || controller_name == 'registrations' %><div class=""><%= render 'layouts/nav' %></div><% end %>
      
      <% if signed_in? && current_page?(controller: :home, action: :index) %>
        <div class="absolute top-64 -left-16 lg:hidden">
          <div id="credit_cards" class="flex relative w-50">
            <%= render 'credit_cards/vertical_card_stack' %>
          </div>
          <%# render 'credit_cards/card_stack' %>
        </div>
      <% end %>


      <div class="flex-grow">
        <%= yield %>
      </div>

      <%= render 'layouts/sticky_footer' if current_page?(root_path) && signed_in? %>
    </main>
  </body>
</html>